@{
    ViewBag.Title = "About";
}

<body style="font-size: 16px">
    <main>
        <div class="about-us">
            <img src="~/Content/Images/clg1.jpg">
            <div>
                <h2 class="heading">GEC PALAKKAD</h2>
                <p>
                    Government Engineering College Palakkad, Sreekrishnapuram is a premier educational institute established in 1999. It is situated in Palakkad district of Kerala. The college is fully owned by Govt.of Kerala and is under the Directorate of Technical Education, Kerala. GEC Sreekrishnapuram is approved by the AICTE
                    and is affiliated to APJ Abdul kalam Technological University (from 2015 onwards)
                </p>
                <p>
                    The college offers full-time B.Tech programmes in the following 6 Engieering branches:
                    1. Computer Science and Engineering,
                    2. Electronics and Communication Engineering, 3. Information Technology
                    4. Mechanical Engineering, 5. Electrical and Electronics Engineering and
                    6. Civil Engineering
                </p>
                

            </div>


            <div class="vision">
                <h3>Vision</h3>
                <p><em>Excellence through the wings of science and technology</em></p>
            </div>

            <div class="vision">
                <h3>Mission</h3>
                <p><em>To transform youth to talented engineers with creativity and integrity who can meet the technological challenges for the service of society.</em></p>
            </div>
        </div>
    </main>
</body>
